:root 
{
    --color-primary: #0f380f;
    --color-sea: linear-gradient(to bottom, #00bfff, #030363);
    --color-secondary: #ffffff;
    --color-tertiary: #8bac0f;
    --color-gameboy: #C0B0C0;
    --cube-image: url(../images/submarine.gif);
    --torpedo-image: url(../images/torpedo.png);
    --explosion-image: url(../images/explosion.png);
    --sea-bottom-image: url(../images/seabottom.png);
    --gameboy-frame-image: url(../images/gameboy.png);
}

body 
{
    background: var(--color-tertiary);
    color: var(--color-secondary);
    height: 100vh;
    overflow: hidden;
}

#gameboyframe 
{
    background-image: var(--gameboy-frame-image);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    pointer-events: none;
}

#seabottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background-image: var(--sea-bottom-image);
    background-repeat: repeat-x;
    z-index: 0;
}

.cube {
    background-image: var(--cube-image);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 200px;
    left: 50%;
    top: 50%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1;
}

.torpedo {
    background-image: var(--torpedo-image);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 10px;
    animation-name: fire;
    animation-timing-function: linear;
}

@keyframes fire {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(50px) translateX(100vw);
    }
}

.explosion {
    background-image: var(--explosion-image);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 200px;
    left: 50%;
    top: 50%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}

@keyframes vibrate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }


@keyframes glowing {
    0% {
        box-shadow: 0 0 20px var(--color-glow);
    }
    50% {
        box-shadow: 0 0 100px var(--color-glow);
    }
    100% {
        box-shadow: 0 0 20px var(--color-glow);
    }
}